.formulaire{
    @include flexbox(flex,column,center,center);
    padding: 3em 0;
    position:absolute;
    //left:150%;
    transform:translateY(-150%);
    top: -150px;
    transition: transform 1.5s ease-out;
    width: 100%;
    z-index: 4;

    .succes,form{
        background:var(--c_clair);
        box-shadow: 0 0 30px var(--c_sombre), 0 0 300px var(--c_sombre);
        padding: 2em 0;
        text-align: right;  // uniquement pour le bouton close
        width:100%;
    }

    legend{
        color:var(--c_sombre_moyen);
        font-family: var(--f_titre);
        font-size: 1em;
        font-weight: 800;
        padding:.25em .5em;
    }

    fieldset{
        @include couleur(var(--c_clair),var(--c_sombre_moyen));
        border: 2px solid var(--c_sombre_moyen);
        box-shadow: 0 5px 5px var(--c_sombre_moyen);
        font-size: 1.2em;
        font-weight: 600;
        margin-bottom: 2em;
        padding: .3em .5em;
        text-align: initial; // rétablit l'alignemet a cause du text-align:right du form

        
        label{
            background-color: var(--c_clair);
            margin-left: 1.5em;
            padding:.3em 1em;
            position: relative;
            z-index: 2;
        }
        
        ul{
            li{
                margin-bottom: 0.5em;
                list-style: none;
                p{
                    margin-top:-0.5em;
                    font-size: .8em;
                }
            }
        }
        
        input{
            border: 2px solid var(--c_sombre_moyen);
            transform: translateY(-.5em);
            padding:.75em;
            width:100%;
            
            &:invalid{
                border-color: var(--c_erreur);
                //background-color: lightpink;
            }

            &::placeholder,
            &+span{
                color:var(--c_erreur);
                font-weight: 800;
            }

            &+span{
                display:block;
                padding-bottom: .5em;
            }
            
            &[type="radio"],
            &[type="checkbox"]{
                width:initial;
                &+label{
                    position: relative;
                    top: -.5em;
                    margin-left: 0;
                }
            }
        }

        fieldset{
            font-size: 1em;
            padding-bottom: 1em;
            legend{
                font-family: var(--f_texte);
                font-size: 1em;
                font-weight: 600;
            }
            ul{
                padding:1em 0;
            }

            i{
                font-size: 1.75em;
                position: relative;
                top: .15em;
            }
        }
    }

    .infolettre{
        padding:1.5em 1em .5em;
    }
}

input{
    @include couleur(var(--c_clair),var(--c_sombre_moyen));
    border: none;
    background-color: var(--c_clair);
    
    &:valid{
        //background-color: lightgreen;
    }
}

i{
    margin-right: 1em;
}

.form-visible{
    
    transform:translateY(5%);
}

@media screen and (min-width: $ecran_moyen){
    .formulaire{
        form{
            width:75%;
            padding: 2em;
        }

        legend{
            font-size: 1.5em;
            padding:.25em 1em;
        }

        fieldset{
            padding: .3em 2em;
        }

        i{
            margin-right: initial;
        }
    }
}
