.wrapper-list{
    display: grid;
    grid-template-columns: 1fr;
    padding-bottom: 3em;
    //min-height:150%;
}

.titre-col{
    @include couleur(var(--c_theme), var(--c_clair));
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap:.5em;
    font-weight: bold;
    padding:.5em;
    div:first-of-type+div{
        visibility: hidden;
    }
}

.tuile-panier{
    background-color: white;
    display:grid;
    grid-template-columns: repeat(4,calc(100% / 3));
    grid-template-rows: minmax(auto,125px);
    margin: 1em;
    div{
        @include flexbox(flex,column,center,flex-start);
        padding: .5em;
        &:last-of-type+div{
            align-items: center;
        }
        &.ecran-moyen{
            display:none;
        }
    }
    img{
        max-width:100%;
        max-height: 100%;
    }
    input{
        background:var(--c_clair);
        border:none;
        margin:1em 0;
        text-align: center;
        width:3em;
        &::-webkit-inner-spin-button, 
        &::-webkit-outer-spin-button { // compatible seulement sur chrome
            opacity:1;
        }

    }

}
.prix-total{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: ". . total";
    div{
        grid-area: total;
    }
    h3{
       padding:1em 0;

    }
}

@media screen and (min-width: $ecran_moyen){
    .titre-col{
        grid-template-columns: 3fr 1fr 1fr;
        div:first-of-type+div{
            visibility: visible;
        }
    }
    
    .tuile-panier{
        grid-template-columns: 1fr 2fr 1fr 1fr;
        div{
            &.ecran-moyen{
                display: flex;
            }
            .petit-ecran{
                display:none;
            }
        }

    }

    .prix-total{
        grid-template-columns: 3fr 1fr 1fr;
    }
}

