/* Coolors Exported Palette - coolors.co/00120b-35605a-e8ebf7-7dc95e-018e42 */

/* HSL */
$color1: hsla(157, 100%, 4%, 1);
$color2: hsla(172, 29%, 29%, 1);
$color3: hsla(228, 48%, 94%, 1);
$color4: hsla(103, 50%, 58%, 1);
$color5: hsla(148, 99%, 28%, 1);

/* RGB */
$color1: rgba(0, 18, 11, 1);
$color2: rgba(53, 96, 90, 1);
$color3: rgba(232, 235, 247, 1);
$color4: rgba(125, 201, 94, 1);
$color5: rgba(1, 142, 66, 1);